<link rel="stylesheet" href="/css/accessDenied/denied.css">

<div class="container">
    <div class="error">
        <h1>403</h1>
        <h2>Acceso Denegado</h2>
        <p>Lo siento, no tienes permiso para acceder a esta página.</p>
        <a href="/inicio" class="btn">Ir a la Página Principal</a>
    </div>
</div>