<link rel="stylesheet" href="/css/home/home.css">

<div class="main-home" id="main-home"></div>

<div class="technology">
    <div class="technology">
        <div class="main-technology" id="main-technology"></div>
    </div>
</div>

<div class="main-about" id="main-about"></div>

<section class="body-accordion">
    <div class="accordion">
        <div class="image-box">
            <img src="/assets/img/favicon.png" alt="">
        </div>
        <div class="accordion-text mt-8">
            <ul class="faq-text" id="faq-list"></ul>
        </div>
    </div>
</section>

{{> services}}


<script src="/js/home/home.js"></script>