<link rel="stylesheet" href="/css/home/home.css">

<div class="main-home" id="main-home"></div>

<div class="technology">
    <div class="technology">
        <div class="main-technology" id="main-technology"></div>
    </div>
</div>

<div class="main-about" id="main-about"></div>

{{> services}}

<script src="/js/home/home.js"></script>