<link rel="stylesheet" href="/css/login/login.css">

<section class="section-padding mt-13 mb-8">
    <div class="container">
        <h3 class="title welcome-text">
            Olvidate tu Contraseña
        </h3>
        <form class="form">
            <div class="form-group">
                <input type="email" name="email" placeholder="Ingrese su Email" class="input-field" required />
            </div>
            <div>
                <button type="submit" class="submit-button">
                    Enviar correo
                </button>
            </div>
        </form>
    </div>
</section>