@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --maincolor: #2ec8a6;
    --btncolor: #1b715e;
    --secondcolor: #f8a803;
    --thirdcolor: #f4ab01;
    --textcolor: #4A5764;
    --bgcolor: #f3f3f3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    font-family: "Inter", sans-serif;

}

body {
    background: var(--bgcolor);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

.mt-1 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-8 {
    margin-top: 80px;
}

.mt-10 {
    margin-top: 100px;
}

.mt-13 {
    margin-top: 130px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-8 {
    margin-bottom: 80px;
}

ul,li {
    list-style: none;
}