<link rel="stylesheet" href="/css/editDoctor/editDoctor.css" />

<div class="profile-container">
    <h2 class="heading">Editar</h2>
    <form id="profileForm">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" placeholder="Nombre completo" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Correo electrónico" readonly />
        </div>
        <div class="form-group">
            <label for="phone">Teléfono referente a Nequi</label>
            <input type="number" id="phone" name="phone" placeholder="Teléfono" />
        </div>
        <div class="form-group">
            <label for="bio">Bio</label>
            <input type="text" id="bio" name="bio" placeholder="Biografía" maxlength="100" />
        </div>
        <div class="form-group">
            <label for="gender">Género</label>
            <select id="gender" name="gender">
                <option value="">Seleccionar</option>
                <option value="male">Masculino</option>
                <option value="female">Femenino</option>
            </select>
        </div>
        <div class="form-group">
            <label for="specialization">Especialización</label>
            <select id="specialization" name="specialization">
                <option value="">Seleccionar</option>
                <option value="Cardiología">Cardiología</option>
                <option value="Cirugía General">Cirugía General</option>
                <option value="Dermatología">Dermatología</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ticket_price">Precio Cita Médica</label>
            <input type="number" id="ticketPrice" name="ticket_price" />
        </div>
        <div id="qualificationsContainer" class="section">
            <h3>Educación</h3>
            <button type="button" id="addQualification" class="add-button">Agregar Título</button>
        </div>
        <div id="experiencesContainer" class="section">
            <h3>Experiencia</h3>
            <button type="button" id="addExperience" class="add-button">Agregar Experiencia</button>
        </div>
        <div id="timeSlotsContainer" class="section">
            <h3>Horario Citas</h3>
            <button type="button" id="addTimeSlot" class="add-button">Agregar Horario</button>
        </div>
        <div class="form-group">
            <label for="about">Sobre mí</label>
            <textarea id="about" name="about" rows="5" placeholder="Escribe algo acerca de ti"></textarea>
        </div>
        <div class="form-group">
            <input type="file" id="photo" name="photo" accept=".jpg, .png" style="display: none;" />
            <img id="photoPreview" class="photo-preview"
                src="https://vineview.com/wp-content/uploads/2017/07/avatar-no-photo-300x300.png" alt="Vista previa" />
            <button type="button" id="uploadButton" class="upload-button">Cargar Foto</button>
        </div>
        <button type="submit" class="submit-button">Actualizar Perfil</button>
    </form>
</div>

<script src="/js/editDoctor/editDoctor.js"></script>