<link rel="stylesheet" href="/css/footer/footer.css">

<footer>
    <div class="container-f">
        <div class="aboutus">
            <h2>Sobre Nosotros</h2>
            <p class="para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse quae vitae ad id iusto odio,
                voluptatem
                eligendi mollitia. Ipsum, rem!</p>
            <ul class="sci">
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
        </div>
        <div class="quicklinks">
            <h2>Doctores</h2>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Politica de privacidad</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contactanos</a></li>
            </ul>
        </div>
        <div class="appointment">
            <h2>Agendar Cita</h2>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Politica de privacidad</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contactanos</a></li>
            </ul>
        </div>
        <div class="contact">
            <h2>Contactanos</h2>
            <ul class="info">
                <li>
                    <span><i class="fa-solid fa-phone"></i></span>
                    <p><a href="tel:+573155417708">+57 315 541 7708</a></p>
                </li>
                <li>
                    <span><i class="fa-solid fa-envelope"></i></span>
                    <p><a href="mailto:medicobooking21@gmail.com">medicobooking21@gmail.com</a></p>
                </li>
            </ul>
        </div>
    </div>
</footer>
<div class="copyrighttext">
    <p>CopyRight &copy; 2024 HealthPoint Manizales. Todos los derechos reservados</p>
</div>