<link rel="stylesheet" href="/css/navbar/navbar.css">

<header>
    <div class="logo">
        <a href="/inicio"><img src="/assets/img/favicon.png" alt="Logo"></a>
        <a href="/inicio"><strong>HelthPoint Manizales</strong></a>
    </div>
    <nav class="navbar" id="navbar"></nav>
    <div class="right-icons">
        <div id="menu-bars" class="fas fa-bars"></div>
        <a href="/" id="auth-button" class="btn">Ingresar</a>
    </div>
</header>

<script src="/js/navbar/navbar.js"></script>