<link rel="stylesheet" href="/css/services/services.css">

<div class="our-service">
    <div class="service-heading">
        <h2>Nuestro servicios</h2>
    </div>
    <div class="main-services" id="main-services"></div>
</div>

<script src="/js/services/services.js"></script>