<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src="https://vineview.com/wp-content/uploads/2017/07/avatar-no-photo-300x300.png" alt="img-avatar">
                <button type="button" class="boton-avatar">
                    <i class="far fa-image"></i>
                </button>
            </div>

        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo">Maria Alejandra De la Cruz</h3>
            <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="perfil-usuario-footer">
            <ul class="lista-datos">
                <li><i class="icono fas fa-map-signs"></i> Correo electronico: <span>gbrlcstr@gmail.com</span></li>
                <li><i class="icono fas fa-phone-alt"></i> Telefono: <span>432444234</span></li>
            </ul>
            <ul class="lista-datos">
                <li><i class="icono fas fa-map-marker-alt"></i> Genero: <span>MAsculino</span></li>
                <li><i class="icono fas fa-calendar-alt"></i> Rol: <span>Paciente</span></li>
            </ul>
        </div>
    </div>
</section>